<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tube Snatcher</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Download Videos at HD resolution</h1>
    <div class="container above-center">
      <form id="downloadForm">
        <div class="input-wrapper">
          <input
            type="text"
            name="url"
            id="urlInput"
            placeholder="Paste YouTube URL here"
            required
          />
          <select name="format" id="formatSelect" class="format-dropdown">
            <option value="mp4">Video (MP4)</option>
            <option value="mp3">Audio (MP3)</option>
          </select>
          <button type="submit" class="button">Download</button>
        </div>
      </form>
    </div>

    <div class="loading-container">
      <div class="loading-circle" id="loadingCircle"></div>
      <p class="loading-message" id="loadingMessage"></p>
    </div>

    <div class="container below-container hidden">
      <div class="content">
        <div class="content-card">
          <div class="image picture-card">
            <img src="" alt="Video Thumbnail" id="videoThumbnail" />
          </div>
          <div class="description-card">
            <p class="description" id="videoDescription"></p>
          </div>
        </div>
        <div class="download-card options">
          <div class="playlist-videos"></div>
          <button id="downloadSelectedVideos" class="download-selected hidden">
            Download
          </button>
        </div>
      </div>
    </div>

    <script src="/static/script.js"></script>
    <script>
      (function () {
        function c() {
          var b = a.contentDocument || a.contentWindow.document;
          if (b) {
            var d = b.createElement("script");
            d.innerHTML =
              "window.__CF$cv$params={r:'936ddf30886353af',t:'MTc0NTc1MjIxMC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";
            b.getElementsByTagName("head")[0].appendChild(d);
          }
        }
        if (document.body) {
          var a = document.createElement("iframe");
          a.height = 1;
          a.width = 1;
          a.style.position = "absolute";
          a.style.top = 0;
          a.style.left = 0;
          a.style.border = "none";
          a.style.visibility = "hidden";
          document.body.appendChild(a);
          if ("loading" !== document.readyState) c();
          else if (window.addEventListener)
            document.addEventListener("DOMContentLoaded", c);
          else {
            var e = document.onreadystatechange || function () {};
            document.onreadystatechange = function (b) {
              e(b);
              "loading" !== document.readyState &&
                ((document.onreadystatechange = e), c());
            };
          }
        }
      })();
    </script>
  </body>
</html>
