MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/mydatabase?retryWrites=true&w=majority
PORT=2004
database_name=tube_snatcher
COOKIE_ENCRYPTION_KEY=YOUR_COOKIE_ENCRYPTION_KEY_HERE
SECRET_KEY=YOUR_SECRET_KEY_HERE
DEBUG=true
HOST=0.0.0.0